# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# =========================
# Virtual Environment
# =========================
venv/
.env/
.envrc

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
*.log

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Docker
# =========================
docker-compose.override.yml

# =========================
# Coverage / testes
# =========================
.coverage
coverage/
htmlcov/

# =========================
# Misc
# =========================
*.tmp
*.bak
*.old